  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
  .mainBackground {
      background: #000814;
      width: 100%;
  }
  .activeType {
      color: #68ECED !important;
  }
  .type {
      color: #D6D6D6;
      font-family: Montserrat;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 600;
      text-decoration: none;
      list-style: none;
      line-height: normal;
      letter-spacing: 0.04375rem;
      text-transform: uppercase;
      cursor: pointer;
      border-right:1px solid white;
      padding: .7rem;
  }

  .type:last-child{
    border-right:none;
  }
  .headerTitle {
      color: #EAFAFA;
      font-family: Montserrat;
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      font-variant: all-small-caps;
  }
  .button {
      display: flex;
      width: fit-content;
      align-items: center;
      height: 3.625rem;
      padding: 1rem 3.5rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      cursor: pointer;
      border-radius: 1.25rem;
  }
  .buttonText {
      color: #000814;
      font-family: Montserrat;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.05625rem;
      text-align: center;
      text-transform: uppercase;
  }
  .showListDiv {
      background-color: rgba(30, 34, 46, 0.35);
      height: 30rem;
      overflow: auto;
      flex-shrink: 0;
      border-radius: 15px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .showListTitle {
      color: #D6D6D6;
      font-family: Montserrat;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.04375rem;
     
      text-transform: uppercase;
  }
  .showListValues {
      color: #D6D6D6;
      font-family: Montserrat;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }

  .pointer{
    cursor: pointer;
  }

  .rotate-180 svg{
    transform: rotate(180deg);
  }